<article id="contact">
  <div class="formContainer">
    <h1> Your Cars </h1>
    <br />
    <br />
    <% @cars.each do |car| %>
        <h3><%= link_to car.brand, car_path(car) %> - <%= link_to car.model, car_path(car) %></h3>
        <br />
    <% end %>

    <%= link_to("Add a car", new_car_path) %>
  </div>
</article>
